

<div class="col l12">

<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink="/logout" routerLinkActive="active"><i class="material-icons left">lock_outline</i>Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper cyan darken-4">
    &nbsp;&nbsp;&nbsp;<a routerLink="/dashboard" routerLinkActive="active" class="brand-logo">IMS</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#" onclick="return false;" data-activates="dropdown1"><i class="material-icons left">account_circle</i>{{SessUser}}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

</div>

